<li>values.id_animal : <%= values[0].id_animal %></li>
<li>values.id_collier : <%= values[1].id_collier %></li>
<li>values.numero_collier : <%= values[2].numero_collier %></li>
<li>values.id_client : <%= values[3].id_client %></li>
<li>values.nom_animal : <%= values[4].nom_animal %></li>
<li>values.naissance_animal : <%= values[5].naissance_animal %></li>
<li>values.type_animal : <%= values[6].type_animal %></li>
<li>values.distance : <%= values[7].distance %></li>
<li>values.age_animal : <%= values[8].age_animal %></li>
