<h2>Liste des animaux</h2>
<% //console.log("User : ",locals.user); %>
<% if(locals.user.animaux[0]){ %>
<div class="tab-overflow">
  <div class="wrapper wrapper-entete">
    <p>Nom</p>
    <p>Type</p>
    <p>Age</p>
    <p>Distance</p>
    <p>Collier</p>
  </div>
  <div class="wrapper wrapper-body">
    <%= //console.log(locals.user.animaux); %>
    <% for (const animal of locals.user.animaux) { %>
      <%= //console.log(animal.id_animal); %>

    <div>
      <p><%= animal.nom_animal %></p>
      <p><%= animal.type_animal %></p>
      <% //console.log(animal.age_animal); %>
      <p><%= animal.age_animal.years %> an<% if(animal.age_animal.years > 1){ %>s<%}%><% if(animal.age_animal.months != 0){ %> <%= animal.age_animal.months %> mois<%}%></p>
      <p><%= animal.distance %> m</p>
      <p><% if (animal.numero_collier != null) {%>
        <%= animal.numero_collier %>
        <% } else { %>
          Pas de collier
      <% } %></p>
      <button id="modifier-<%= animal.id_animal %>" type="button" class="btn btn-modifier" value="<%= animal.id_animal %>" name="<%= animal.nom_animal %>">
        <img src="https://img.icons8.com/metro/15/000000/edit.png"/>
      </button>
      <!-- <form action="/supprimerAnimal" method="post" class="btn btn-supprimer">
        <input type="hidden" name="id_animal" value="">
        <input type="image" class="btn btn-supprimer" value="" src="https://img.icons8.com/android/15/000000/trash.png"/>
      </form> -->
      <button id="supprimer-<%= animal.id_animal %>" type="button" class="btn btn-modifier" value="<%= animal.id_animal %>" name="<%= animal.nom_animal %>">
        <img src="https://img.icons8.com/android/15/000000/trash.png"/>
      </button>
    </div>

    <% } %>
  </div>
</div>
<%} else {%>
<div>
  <p>Vous n'avez pas d'animaux</p>
</div>
<%}%>
<button type="button" class="btn btn-envoyer" name="button">Ajouter</button>
